In [4]:
import pandas as pd
import requests

In [5]:
def get_dados(base, idate = '2022-06-01', fdate = '2023-05-13'):
    url = f'http://montreal.icea.decea.mil.br:5002/api/v1/{base}?token=a779d04f85c4bf6cfa586d30aaec57c44e9b7173&idate={idate}&fdate={fdate}'
    headers = {'token': 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173'}
    response = requests.get(url,headers)
    response.raise_for_status()
    data = response.json()
    return pd.DataFrame(data)

## 1. BIMTRA (Banco de Informações de Movimento de Tráfego Aéreo)

In [6]:
df = get_dados('bimtra')
df.to_csv('Dados/bimtra.csv', index=False)

## 2. CAT-62 (Dados de Síntese Radar)

In [7]:
idate = '2022-06-01 00:00:00.000'
fdate = '2022-06-01 23:00:00.000'
base = 'cat-62'
url = f'http://montreal.icea.decea.mil.br:5002/api/v1/{base}?token=a779d04f85c4bf6cfa586d30aaec57c44e9b7173&idate={idate}&fdate={fdate}'
headers = {'token': 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173'}
response = requests.get(url,headers)
response.raise_for_status()

data = response.json()
len(data)

92275

## 3. Esperas (Dados de Quantidades de Esperas em voo por hora)

In [8]:
df = get_dados('esperas')
df.to_csv('Dados/esperas.csv', index=False)

## 4. METAF (Terminal Aerodrome Forecast)

In [9]:
df = get_dados('metaf')
df.to_csv('Dados/metaf.csv', index=False)

## 5. METAR (Relatório Meteorológico de Aeródromo)

In [10]:
df = get_dados('metar')
df.to_csv('Dados/metar.csv', index=False)

## 6. Satélite Meteorológico

In [11]:
df = get_dados('satelite')
df.to_csv('Dados/satelite.csv', index=False)

## 7. Previsão da Troca de Cabeceiras de Aeródromo

In [12]:
df = get_dados('tc-prev')
df.to_csv('Dados/tc-prev.csv', index=False)

## 8. Histórico da Troca de Cabeceiras de Aeródromo

In [15]:
df = get_dados('tc-real')
df.to_csv('Dados/tc-real.csv', index=False)

In [16]:
df

                hora nova_cabeceira antiga_cabeceira aero
0      1654092843000             32               03   FL
1      1654109470000             18               12   RF
2      1654110745000             16               13   CF
3      1654110758000             15               26   GL
4      1654110777000             15               26   GL
...              ...            ...              ...  ...
33426  1683991948000             14               08   FL
33427  1684015596000            17R               12   SP
33428  1683992504000             15               26   CT
33429  1684017668000            17R               12   SP
33430  1683993443000             10               28   SV

[33431 rows x 4 columns]