In [1]:
import pandas as pd
import requests

In [46]:
def get_dados(base, idate = '2022-06-01', fdate = '2023-05-13'):
    url = f'http://montreal.icea.decea.mil.br:5002/api/v1/{base}?token=a779d04f85c4bf6cfa586d30aaec57c44e9b7173&idate={idate}&fdate={fdate}'
    headers = {'token': 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173'}
    response = requests.get(url,headers)
    response.raise_for_status()
    data = response.json()
    return pd.DataFrame(data)

## 1. BIMTRA (Banco de Informações de Movimento de Tráfego Aéreo)

In [50]:
get_dados('bimtra')

,flightid,origem,destino,dt_dep,dt_arr
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,1654044297000,1654046760000
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,1654045021000,1654047173000
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,1654043212000,1654047825000
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,1654045120000,1654047701000
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,1654045238000,1654050785000
...,...,...,...,...,...
300342,c4321a6a09b76969df53965fb5390f12,SBBR,SBRF,1683980059000,1683987623000
300343,e4f5686cce45083566945c8946e5d120,SBBR,SBGR,1683970395000,1683975521000
300344,04f65a7c44cf176215520b4c9b4eb37f,SBCF,SBRF,1683996833000,1684004424000
300345,f72a0718e581d01c695faeeff35d81f0,SBSV,SBGR,1683955738000,1683964481000
300346,f00b0016f0bd79eabb4201a32490bc19,SBGL,SBGR,1683969750000,1683972564000

## 2. CAT-62 (Dados de Síntese Radar)

In [69]:
idate = '2022-06-01 00:00:00.000'
fdate = '2022-06-01 23:00:00.000'
base = 'cat-62'
url = f'http://montreal.icea.decea.mil.br:5002/api/v1/{base}?token=a779d04f85c4bf6cfa586d30aaec57c44e9b7173&idate={idate}&fdate={fdate}'
headers = {'token': 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173'}
response = requests.get(url,headers)
response.raise_for_status()

data = response.json()
len(data)

92275

## 3. Esperas (Dados de Quantidades de Esperas em voo por hora)

In [51]:
get_dados('esperas')

       esperas           hora  aero
0            0  1654041600000  SBBR
1            0  1654045200000  SBBR
2            0  1654048800000  SBBR
3            0  1654052400000  SBBR
4            0  1654056000000  SBBR
...        ...            ...   ...
99931        0  1684004400000  SBSV
99932        0  1684008000000  SBSV
99933        0  1684011600000  SBSV
99934        0  1684015200000  SBSV
99935        0  1684018800000  SBSV

[99936 rows x 3 columns]

## 4. METAF (Terminal Aerodrome Forecast)

In [52]:
get_dados('metaf')

                hora                                              metaf  aero
0      1659657600000    METAF SBBR 050000Z 05006KT CAVOK 18/04 Q1014=\n  SBBR
1      1659661200000    METAF SBBR 050100Z 01006KT CAVOK 17/05 Q1016=\n  SBBR
2      1659664800000   METAF SBBR 050200Z  35008KT CAVOK 17/05 Q1014=\n  SBBR
3      1659668400000   METAF SBBR 050300Z  34007KT CAVOK 16/05 Q1015=\n  SBBR
4      1659672000000   METAF SBBR 050400Z  34008KT CAVOK 16/05 Q1015=\n  SBBR
...              ...                                                ...   ...
43933  1684004400000  METAF SBSP 131900Z  14010KT 9999       OVC024 ...  SBSP
43934  1684008000000  METAF SBSP 132000Z  14009KT 9999       BKN033 ...  SBSP
43935  1684011600000  METAF SBSP 132100Z  14008KT 8000       OVC033 ...  SBSP
43936  1684015200000  METAF SBSP 132200Z  14007KT 7000       OVC033 ...  SBSP
43937  1684018800000  METAF SBSP 132300Z  12006KT 5000     BR OVC033...  SBSP

[43938 rows x 3 columns]

## 5. METAR (Relatório Meteorológico de Aeródromo)

In [53]:
get_dados('metar')

                 hora                                              metar  aero
0       1654041600000      METAR SBBR 010000Z 07002KT CAVOK 21/08 Q1018=  SBBR
1       1654045200000      METAR SBBR 010100Z 10002KT CAVOK 20/09 Q1019=  SBBR
2       1654048800000      METAR SBBR 010200Z 00000KT CAVOK 16/09 Q1019=  SBBR
3       1654052400000      METAR SBBR 010300Z 27002KT CAVOK 16/09 Q1019=  SBBR
4       1654056000000      METAR SBBR 010400Z 00000KT CAVOK 14/09 Q1018=  SBBR
...               ...                                                ...   ...
106739  1684004400000  METAR SBSV 131900Z 16009KT 9999 BKN020 FEW021T...  SBSV
106740  1684008000000  METAR SBSV 132000Z 13007KT 9999 BKN020 29/24 Q...  SBSV
106741  1684011600000  METAR SBSV 132100Z 12005KT 9999 SCT020 FEW025T...  SBSV
106742  1684015200000  METAR SBSV 132200Z 11006KT 9999 SCT020 FEW025T...  SBSV
106743  1684018800000  METAR SBSV 132300Z 11009KT 9999 SCT020 FEW025T...  SBSV

[106744 rows x 3 columns]

## 6. Satélite Meteorológico

In [62]:
get_dados('satelite').head(1)['path']

0    http://satelite.cptec.inpe.br/repositoriogoes/...
Name: path, dtype: object

## 7. Previsão da Troca de Cabeceiras de Aeródromo

In [63]:
get_dados('tc-prev')

                hora  troca aero
0      1654041600000      0   BR
1      1654045200000      0   BR
2      1654048800000      0   BR
3      1654052400000      0   BR
4      1654056000000      0   BR
...              ...    ...  ...
99931  1684004400000      0   SV
99932  1684008000000      0   SV
99933  1684011600000      0   SV
99934  1684015200000      0   SV
99935  1684018800000      0   SV

[99936 rows x 3 columns]

## 8. Histórico da Troca de Cabeceiras de Aeródromo

In [64]:
get_dados('tc-real')

                hora nova_cabeceira antiga_cabeceira aero
0      1654092843000             32               03   FL
1      1654109470000             18               12   RF
2      1654110745000             16               13   CF
3      1654110758000             15               26   GL
4      1654110777000             15               26   GL
...              ...            ...              ...  ...
33426  1683991948000             14               08   FL
33427  1684015596000            17R               12   SP
33428  1683992504000             15               26   CT
33429  1684017668000            17R               12   SP
33430  1683993443000             10               28   SV

[33431 rows x 4 columns]